.text {
  text-transform: uppercase;
  background:  #30cfd0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.btn{
    border: 1px solid #30cfd0;
    color: #30cfd0;
    background-color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:10px;
    cursor: pointer;
    
 

}
.btn:hover{
    background-color: #30cfd0;
    color: white;
}
